.carousel-inner > .item > img {
    margin: 0 auto;
}

.sliderImage{
	max-height: 500px;
}

.navbar-brand{
	padding: 3px;
}

.navbar-form{
	margin-top: 5px;
}

a{
  font-family: TextFont;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.table{
  font-family: TextFont;
}

tr{
  font-size: 20px;
}

.tableRowNames{
  font-size: 30px;
}

label{
  font-family: TextFont;
  font-size: 30px;
  color: red;
}

.form-control{
	width: 50vw;
}

#registreerBody{
	margin-left: 20px;
}

.dropdown-menu{
  background-color: #222;
  border-color: #080808;
}

.dropdown-menu li a {
  color: #999;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size{
  font-size: 87px;
}

#buttonLogin{
  margin-top: 0;
  padding: 5px;
}

.filmFotoDiv{
  display: inline-block;
}

.filmTitel{
  margin-top: 0;
}

.filmFoto{
  max-height: 600px;
  max-width: 400px;
}

.caption{
  text-align: center;
}

.filmInformatieDiv{
  text-align: left;
}

.row{
  width: 100%;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}

form{
  margin-left: 5px;
}

body{
  background-image: url("http://dijitalkoleksiyon.files.wordpress.com/2012/09/credits-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#indexBody{
  text-align: center;
}

#filmsBody{
  text-align: center;
}

h1{
  font-family: HeaderFont;
  font-size: 80px;
  color: red;
  text-shadow: 3px 0px 3px rgba(0, 0, 0, 1);
}

h2, h3{
  font-family: TextFont;
}

#registreerLink{
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.buttonNotflix {
  outline: none;
  margin-top: 4px;
  border: 2px solid #b34141;
  background: #ad4040;
  background: -webkit-gradient(linear, left top, left bottom, from(#e82323), to(#ad4040));
  background: -webkit-linear-gradient(top, #e82323, #ad4040);
  background: -moz-linear-gradient(top, #e82323, #ad4040);
  background: -ms-linear-gradient(top, #e82323, #ad4040);
  background: -o-linear-gradient(top, #e82323, #ad4040);
  background-image: -ms-linear-gradient(top, #e82323 0%, #ad4040 100%);
  padding: 10px 29px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  text-shadow: #7ea4bd 0 1px 0;
  color: #ffffff;
  font-size: 19px;
  font-family: TextFont;
  text-decoration: none;
  vertical-align: middle;
}

form .has-error .control-label,
form .has-error .help-block,
form .has-error .form-control-feedback {
    color: #f39c12;
}

form .has-success .control-label,
form .has-success .help-block,
form .has-success .form-control-feedback {
    color: #18bc9c;
}

/* Color of invalid field */
.has-error .control-label,
.has-error .help-block,
.has-error .form-control-feedback {
    color: #a94442;
}

/* Color of valid field */
.has-success .control-label,
.has-success .help-block,
.has-success .form-control-feedback {
    color: #3c763d;
}

@font-face {
  font-family: 'HeaderFont';
  font-style: normal;
  font-weight: 400;
  src: local('HeaderFont'), local('HeaderFont-Regular'), url(resources/kilogram_kg-webfont.woff) format('woff');
}

@font-face {
  font-family: 'TextFont';
  font-style: normal;
  font-weight: 400;
  src: local('TextFont'), local('TextFont-Regular'), url(resources/kankin-webfont.woff) format('woff');
}